.FighterCard {
  display: flex;
  justify-content: space-around;
  width: 700px;
  position: relative;
  box-shadow: inset 6px 6px 10px rgba(0, 0, 0, 0.3),
    inset -6px -6px 10px rgba(255, 255, 255, 0.4);
  border: 2px solid;
  border-color: #909090 #b0b0b0 #b0b0b0 #909090;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 60px;
  padding-left: 20px;
}

.fighterInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}

.nextFightInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: var(--secondary-bg-color);
  height: 150px;
  width: 128px;
  align-self: center;
  box-shadow: inset 6px 6px 10px rgba(0, 0, 0, 0.3),
    inset -6px -6px 10px rgba(255, 255, 255, 0.4);
  border: 1px solid;
  border-radius: 4px;
  border-color: #909090 #b0b0b0 #b0b0b0 #909090;
}

.addButton {
  position: absolute;
  bottom: 10;
  right: 20;
}

.questionIcon {
  justify-content: center;
  justify-self: center;
  width: 95px;
  height: auto;
}
