.FighterCard {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: relative;
  box-shadow: inset 6px 6px 10px rgba(0, 0, 0, 0.3),
    inset -6px -6px 10px rgba(255, 255, 255, 0.4);
  border: 2px solid;
  border-color: #909090 #b0b0b0 #b0b0b0 #909090;
}
.favourite {
  box-shadow: 6px 6px 10px red;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 40px;
}

.fighterInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}

.nextFightInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: var(--secondary-bg-color);
  height: 120px;
  width: 95px;
  align-self: center;
  box-shadow: inset 6px 6px 10px rgba(0, 0, 0, 0.3),
    inset -6px -6px 10px rgba(255, 255, 255, 0.4);
  border: 1px solid;
  border-radius: 4px;
  border-color: #909090 #b0b0b0 #b0b0b0 #909090;
}

.addButton {
  position: absolute;
  bottom: 5;
  scale: 0.8;
  max-width: 200px;
  margin-left: 15px;
}

.questionIcon {
  justify-content: center;
  justify-self: center;
  width: 95px;
  height: auto;
}

.bigFighterImage {
  width: var(--fighter-big-image-width);
  height: var(--fighter-big-image-height);
}

.portraitFighterImage {
  width: var(--fighter-portrait-image-width);
  height: var(--fighter-portrait-image-height);
}

.removeCard {
  transition: all 1s ease;
  scale: 0.2;
}

@media (min-width: 769px) {
  .FighterCard {
    width: 700px;
  }
  .nextFightInfo {
    height: 150px;
    width: 128px;
    margin-top: 45px;
    align-self: normal;
  }
  .textContainer {
    padding-bottom: 60px;
    padding-left: 20px;
  }
  .addButton {
    max-width: 100%;
    bottom: 10;
    right: 20;
    scale: 1;
  }
}
