.Button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  color: var(--primary-color);
  padding: 6px 15px;
  border-radius: 5px;
  transition: all 1s ease;
}

.clear {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.clearInverted {
  padding: 0;
  border: none;
  background: none;
  outline: none;
  color: var(--inverted-primary-color);
}

.outline {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background: none;
}

.solid {
  max-height: inherit;
  padding: 10px 20px;
  color: var(--primary-color);
  border-radius: 0;
  text-align: center;
  max-height: 100%;
  background: var(--secondary-bg-color);
  border: 1px solid var(--secondary-bg-color);
  box-shadow: 5px 5px 10px #170c0c;
}

.outline_red {
  border: 1px solid var(--red-light);
  color: var(--red-light);
  background: none;
}

.background {
  background: var(--bg-color);
  color: var(--primary-color);
  border: none;
}

.square {
  padding: 0;
}

.square.size_m {
  width: var(--font-line-m);
  height: var(--font-line-m);
}

.square.size_l {
  width: var(--font-line-l);
  height: var(--font-line-l);
}

.square.size_xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
}

.size_m {
  font: var(--font-m);
}

.size_l {
  font: var(--font-l);
}

.size_xl {
  font: var(--font-xl);
}

.disabled {
  filter: brightness(0.7);
}

.fullWidth {
  width: 100%;
}
