.InputWrapper {
  display: flex;
}

.placeholder {
  margin-right: 5px;
}

.input {
  background: var(--secondary-bg-color-selected);
  border: none;
  border-radius: 3px;
  box-shadow: var(--box-shadow);
  outline: none;
  width: 100%;
  padding-left: 8px;
}

.readonly {
  opacity: 0.7;
}

.small {
  height: 20px;
}

.medium {
  height: 30px;
}

.large {
  height: 40px;
}

.start input {
  text-align: left;
}

.center input {
  text-align: center;
  justify-content: center;
}

.end input {
  text-align: right;
}
