.container {
  margin-top: 80px;
}

.infiniteScrollTarget {
  height: 40px;
  position: relative;
  bottom: 540;
  visibility: hidden;
}

.searchFighter {
  position: relative;
  font: var(--font-l);
  text-align: center;
  width: 40%;
  inset-inline: 0;
  margin-inline: auto;
}

.loader {
  position: relative;
  top: -60px;
}
