.infiniteScrollTarget {
  height: 40px;
  position: relative;
  bottom: 540;
  visibility: hidden;
}

.searchFighter {
  position: fixed;
  bottom: var(--navbar-height);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 8;
  font: var(--font-l);
  text-align: center;
  width: 100%;
  height: 70px;
  inset-inline: 0;
  margin-inline: auto;
  background-color: var(--bg-color);
}

.loader {
  position: relative;
  top: -60px;
}

@media (min-width: 769px) {
  .searchFighter {
    height: 85px;
    top: var(--navbar-height);
  }

  .loader {
    top: -50px;
  }
}
