:root {
  --bg-color: rgb(255, 255, 255);
  --secondary-bg-color: linear-gradient(
    145deg,
    #f8f8f8 0%,
    #e0e0e0 50%,
    #f8f8f8 100%
  );
  --secondary-bg-color-selected: linear-gradient(
    145deg,
    #cac9c9 0%,
    #bebaba 50%,
    #e1e0e0 100%
  );
  --primary-color: rgb(25, 25, 25);
  --secondary-color: rgb(210, 10, 10);

  --card-bg: #d5d5d7;

  --listbox-bg: #d5d5d7;

  --box-shadow: 5px 5px 10px #170c0c;
  --box-shadow--selected: 0 4px 15px rgba(0, 0, 0, 0.1),
    inset 0 -2px 5px rgba(255, 255, 255, 0.8),
    inset 0 2px 3px rgba(0, 0, 0, 0.1);
}

.dark {
  --bg-color: rgb(0, 0, 0);
  --secondary-bg-color: rgb(47, 34, 34);
  --primary-color: rgb(255, 255, 255);
}
