.AuthForm {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 220px;
}

.authOptions {
  margin-bottom: 5px;
}

.selected {
  border-bottom: solid 1px;
  border-radius: 0;
}
