.AuthForm {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 260px;
  box-shadow: var(--box-shadow);
}

.authOptions {
  margin-bottom: 5px;
}

.selected {
  box-shadow: var(--box-shadow-selected);
  background: var(--secondary-bg-color-selected);
  z-index: -5;
}
