.AuthForm {
  position: relative;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 85vw;
  height: 320px;
  background-color: inherit;
  box-shadow: var(--box-shadow);
}

.authOptions {
  margin-bottom: 15px;
}

button.selected {
  box-shadow: var(--box-shadow-selected);
  background: var(--secondary-bg-color-selected);
  z-index: -5;
}

@media (min-width: 769px) {
  .AuthForm {
    width: 375px;
    height: 340px;
  }
}
