.submitButton {
  position: absolute;
  bottom: 0;
}

.inputContainer {
  margin-top: 70px;
}

.error {
  margin-top: 15px;
}

@media (min-width: 769px) {
  .inputContainer {
    margin-top: 60px;
  }
}
