.AppLink {
  height: inherit;
  padding: 10px 20px;
  color: var(--primary-color);
  font: var(--font-l);
  border: none;
  width: 100%;
  text-align: center;
  background: var(--secondary-bg-color);
  border: 1px solid var(--secondary-bg-color);
  box-shadow: 5px 5px 10px #170c0c;
  transition: all 1s ease;
}

/* .AppLink:active {
  background: var(--secondary-bg-color-selected);
  box-shadow: var(--box-shadow--selected);
  z-index: -5;
} */

.active {
  background: var(--secondary-bg-color-selected);
  box-shadow: var(--box-shadow--selected);
  z-index: -5;
}
